@import url("https://fonts.googleapis.com/css?family=Special+Elite");
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import "_fira_code";
@import "_colors";
@import "_sizes";
@import "_switch";
@import "_breaking_points";


@mixin inverted {
	color: $f333_color_font_secondary;
	background-color: $f333_color_background_secondary;
}

@mixin hover_shadow($font_c, $back_c) {
	transition: box-shadow 0.25s;
	box-shadow: 0;
	background-color: $back_c;
	color: $font_c;

	&:hover {
		background-color: $back_c;
		transition: box-shadow 0.25s;
		box-shadow: 8px 8px 17px 8px $shadow_color,
			6px 6px 20px 6px $shadow_color;
	}
}

$grid-breakpoints: (xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px);

a {
	color: $f333_red;

	&:hover {
		color: $f333_color_background_secondary;
	}
}

article {
	img {
		margin-left: auto !important;
		margin-right: auto !important;
		display: block !important;
	}
}


// Blockquote CSS
blockquote {
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 3em;
	position: relative;
	padding-left: 1em;
	border-left: 0.2em solid lighten($f333_red, 40%);
	font-family: 'Coda', cursive;
	font-weight: 100;
	font-style: italic;

	&:before,
	&:after {
		content: '\201C';
		font-family: 'Sanchez';
		color: lighten($f333_red, 40%);
	}

	&:after {
		content: '\201D';
	}
}

body {
	font-family: 'Raleway', sans-serif;
	background-color: $f333_color_background_primary;
	color: $f333_color_font_primary;
	display: flex;
	min-height: 100vh;
	flex-direction: column;

	@media #{$small-and-down} {
		font-size: 16px;
	}

	@media #{$medium-only} {
		font-size: 18px;
	}

	@media #{$large-and-up} {
		font-size: 16px;
	}

	/* don't display digraphs in languages that don't support it */
	font-language-override: normal;
	/* use font-defined kerning info */
	font-kerning: auto;
	/* opentype options: kerning, ligatures, horiz ligatures,
	 * discretionary ligatures, contextual swash */
	font-feature-settings: "kern",
	"liga",
	"dlig",
	"hlig",
	"cswh";
	/* allow browser to auto-infer missing glyphs */
	font-synthesis: weight style;
}

footer {
	color: $f333_red;
}

footer,
img {
	max-width: 100%;
	height: auto;
}

hr {
	display: block;
	height: 1px;
	border-top: 1px solid $f333_red;
	padding: 0;
	color: $f333_red;
}

.btn-floating {
	border-radius: 0;
	position: relative;

	width: 40px;
	height: 173.21px;
	height: 40px;
	@include hover_shadow($f333_color_font_primary, $f333_red);
}

.bricciole {
	&:before {
		content: "<<";
	}

	&:after {
		content: ">>" !important;
	}
}

.card {
	@include hover_shadow($f333_color_font_primary,
		$f333_color_background_primary);
	border-radius: 50px 50px 50px 50px !important;

	.card-img-top {
		border-radius: 50px 50px 5px 5px !important;
	}

	.card-img-top-post {
		border-radius: 50px 50px 0px 0px !important;
	}
}

.card-content {
	a {
		color: $f333_red;
	}
}

.card-columns {
	@include media-breakpoint-down(sm) {
		column-count: 1;
	}

	@include media-breakpoint-between(sm, xl) {
		column-count: 2;
	}

	@include media-breakpoint-only(xl) {
		column-count: 3;
	}
}

.center-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


.highlight {
	text-align: left !important;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.page-social {
	a {
		color: $f333_color_font_primary;
	}
}

.pagination {
	li.active {
		background-color: $f333_red;
	}
}

.tag {
	&:before {
		content: "<";
	}

	&:after {
		content: ">" !important;
	}
}


.social-icon {
	color: $f333_color_font_primary;
}


.twitter-tweet {
	margin: auto;
	text-align: right;
}


.webring{
	max-width:  20px !important;	
}

#title,
#subtitle {
	color: $f333_red !important;
}
