baseURL: "https://fundor333.com"
DefaultContentLanguage: en
languageCode: en
title: Fundor333
enableRobotsTXT: false
fediverseAccount: "@fundor333@mastodon.social"
ignoreLogs:
  - "warning-goldmark-raw-html"
goToTop: true
disableHugoGeneratorInject: true

module:
  imports:
    - path: github.com/hugo-sid/hugo-blog-awesome

theme: ["hugo-redirect", "github.com/hugo-sid/hugo-blog-awesome"]

related:
  includeNewer: true
  threshold: 70
  toLower: false
  indices:
    - name: categories
      weight: 40
    - name: title
      weight: 30
    - name: description
      weight: 30
    - name: tags
      weight: 10
    - name: meta
      weight: 10
    - name: date
      weight: 10

mediaTypes:
  application/atom+xml:
    suffixes:
      - xml

outputFormats:
  SearchIndex:
    baseName: search
    mediaType: application/json
  Atom:
    mediaType: "application/atom+xml"
    baseName: atom

outputs:
  home:
    - html
    - rss
    - SearchIndex
    - json
    - Atom
  section:
    - html
    - rss
    - json
    - Atom

services:
  rss:
    limit: 20

taxonomies:
  series: series
  category: categories
  tag: tags
  theme: themes
  group: group
