{{ define "main" }}
<main class="wrapper py-8" aria-label="{{ T "content" }}">
  <article class="h-entry">
    <header class="mb-4">
      <h1 class="p-name text-xl">{{ .Title }}</h1>
      <div class="post-meta text-sm">
        <span class="p-author h-card" hidden>{{ site.Params.author.name }}</span>
        <a class="u-url" href="{{ .Permalink }}" hidden></a>
        {{ with .Date }}<time class="dt-published" datetime="{{ .Format "2006-01-02T15:04:05Z07:00" }}">{{ $.Date | time.Format (site.Params.dateFormat | default "2 Jan 2006") }}</time>{{ end }}
      </div>
      {{ partial "tags.html" . }}
    </header>
    <div class="e-content">
      {{ partial "micro.html" . }}
      {{ partial "bridgy.html" . }}
      {{ .Content }}
    </div>
    {{ partial "series.html" . }}
    {{ partial "share-buttons.html" . }}
    {{ partial "cite.html" . }}
    {{ partial "syndication.html" . }}
    {{ partial "comments.html" . }}
  </article>
</main>
{{ end }}
