.badges-88x31 {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 8px;
	margin: 0 !important;

	img {
		display: block;
		width: 88px;
		height: 31px;
	}
}

.badges-88x31-link:a {
	display: inline-block;
	width: 88px;
	height: 31px;
	margin: 0 !important;
}
