{{- /* Backlinks: find this page's URL inside the .Content of other posts. */ -}}
{{- $cur := . -}}
{{- $backlinks := slice -}}
{{- range where site.RegularPages "Type" "in" (site.Params.mainSections | default (slice "post")) -}}
  {{- if ne .File.UniqueID $cur.File.UniqueID -}}
    {{- if findRE (printf `href="%s"?` (.RelPermalink | default $cur.RelPermalink)) "" -}}{{- end -}}
    {{- if strings.Contains .Content $cur.Permalink -}}{{- $backlinks = $backlinks | append . -}}{{- end -}}
  {{- end -}}
{{- end -}}
{{- with $backlinks -}}
<section class="backlinks mt-8">
  <h2 class="text-lg">{{ T "backlinks.title" }}</h2>
  <ul>{{ range . }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}</ul>
</section>
{{- end -}}
