{{- /* Semantica di risposta IndieWeb dal front matter. */ -}}
{{- with .Params.reply }}<p class="response"><a class="u-in-reply-to" href="{{ . }}">↩ {{ T "micro.in_reply_to" }} <span class="url">{{ . }}</span></a></p>{{ end -}}
{{- with .Params.repost }}<p class="response"><a class="u-repost-of" href="{{ . }}">🔁 {{ T "micro.repost_of" }} <span class="url">{{ . }}</span></a></p>{{ end -}}
{{- with .Params.like }}<p class="response"><a class="u-like-of" href="{{ . }}">♥ {{ T "micro.like_of" }} <span class="url">{{ . }}</span></a></p>{{ end -}}
{{- with .Params.bookmark }}<p class="response"><a class="u-bookmark-of" href="{{ . }}">🔖 {{ T "micro.bookmark_of" }} <span class="url">{{ . }}</span></a></p>{{ end -}}
{{- with .Params.rsvp }}<p class="response"><a class="u-rsvp" href="{{ . }}">📅 {{ T "micro.rsvp" }} <span class="url">{{ . }}</span></a></p>{{ end -}}
{{- with .Params.preview_text_from_reply }}<blockquote class="u-in-reply-to"><p>{{ . }}</p></blockquote>{{ end -}}
{{- if and .Params.mastodon_instance .Params.mastodon_id }}{{ partial "toot.html" (dict "instance" .Params.mastodon_instance "id" .Params.mastodon_id) }}{{ end -}}
