{{- $df := site.Params.dateFormat | default "2 Jan 2006" -}}
<article class="post-item flex items-baseline justify-between gap-4">
  <h3 class="post-item-title m-0 text-base font-normal">
    <a href="{{ .RelPermalink }}">
      {{ partial "type-icon.html" .Type }}{{ .Title }}
    </a>
    {{ if .Params.isStarred }}<i class="fa-solid fa-star ml-1 text-primary" title="{{ T "post.starred" }}" aria-hidden="true"></i>{{ end }}
    {{ if .Params.speaker }}<i class="fa-solid fa-microphone ml-1 text-inactive" title="{{ T "post.talk" }}" aria-hidden="true"></i>{{ end }}
  </h3>
  {{ $d := cond (eq .Type "event") (.Params.start | default .Date) .Date }}
  {{ with $d }}<time class="post-item-meta shrink-0 text-sm" datetime="{{ dateFormat "2006-01-02T15:04:05Z07:00" . }}">{{ time.Format $df . }}</time>{{ end }}
</article>
