{{- if .Params.series -}}
<div class="post-series my-6">
  {{- with (.GetTerms "series") -}}
  {{- range . -}}
  <details class="toc" open>
    <summary><strong>{{ T "series.part_of" }} {{ .LinkTitle }}</strong></summary>
    <ol class="mt-2">
      {{- range .Pages.ByDate -}}
      <li>{{ if eq .File.UniqueID $.File.UniqueID }}<strong>{{ .LinkTitle }}</strong>{{ else }}<a href="{{ .Permalink }}">{{ .LinkTitle }}</a>{{ end }}</li>
      {{- end -}}
    </ol>
  </details>
  {{- end -}}
  {{- end -}}
</div>
{{- end -}}
