{{- $taxos := slice
  (dict "param" "tags" "path" "/tags/")
  (dict "param" "categories" "path" "/categories/")
  (dict "param" "themes" "path" "/themes/")
  (dict "param" "group" "path" "/group/") -}}
{{- $has := false -}}
{{- range $taxos }}{{ with (index $.Params .param) }}{{ $has = true }}{{ end }}{{ end -}}
{{- if $has }}
<p id="tags" class="mt-3 flex flex-wrap gap-x-1 gap-y-1 text-sm">
  {{- range $taxos }}
    {{- $path := .path }}
    {{- range (index $.Params .param) }}
    <a class="tag p-category" rel="tag" data-umami-event="Term Click" data-umami-event-term="{{ . }}" href="{{ (printf "%s%s" $path (. | urlize)) | relLangURL }}">#{{ . }}</a>
    {{- end }}
  {{- end }}
</p>
{{- end -}}
