{{- $data := index site.Data "88x31" -}}
{{- with $data -}}
{{- $withUrl := slice -}}
{{- $withoutUrl := slice -}}
{{- range .badges -}}
  {{- if .url -}}
    {{- $withUrl = append . $withUrl -}}
  {{- else -}}
    {{- $withoutUrl = append . $withoutUrl -}}
  {{- end -}}
{{- end -}}
<p>
  {{- range $withUrl }}
  <a href="{{ .url }}" target="_blank" rel="noopener" style="display:inline-block;padding:1px">
    <img loading="lazy" width="88" height="31" src="{{ .img }}" alt="{{ .alt }}">
  </a>
  {{- end }}
  {{- range $withoutUrl }}
  <img loading="lazy" width="88" height="31" src="{{ .img }}" alt="{{ .alt }}" style="padding:1px">
  {{- end }}
</p>
{{- end }}
