{{- $data := index site.Data "88x31" -}}
{{- with $data -}}
{{- $withUrl := slice -}}
{{- $withoutUrl := slice -}}
{{- range .badges -}}
{{- if .url -}}
{{- $withUrl = append . $withUrl -}}
{{- else -}}
{{- $withoutUrl = append . $withoutUrl -}}
{{- end -}}
{{- end -}}
<p class="badges-88x31">
  {{- range $withUrl }}
  <a href="{{ .url }}" class="badges-88x31-link" target="_blank" rel="noopener">
    <img loading="lazy" width="88" height="31" src="{{ .img }}" alt="{{ .alt }}">
  </a>
  {{- end }}
  {{- range $withoutUrl }}
  <img loading="lazy" width="88" height="31" src="{{ .img }}" alt="{{ .alt }}">
  {{- end }}
</p>
{{- end }}
