<footer class="footer wrapper">

    <span class="footer_item"> </span>
    {{ partial "hcard" . }}


    <div class="footer_social-icons flex">
        {{- partial "socialIcons.html" site.Params.socialIcons -}}
        <p class="flex justify-center">
          <a href='https://webring.xxiivv.com/#random' target='_blank'>
            <img loading="lazy" width=" 30" height="30" src='https://webring.xxiivv.com/icon.white.svg' />
          </a>
        </p>
        <p>
          <a href="https://xn--sr8hvo.ws/previous">←</a>
          <a href="https://xn--sr8hvo.ws">IndieWeb Webring</a>
          <a href="https://xn--sr8hvo.ws/next">→</a>
        </p>
        <div class="webring">
          <webring-css site="https://fundor333.com"></webring-css>
          <script src="https://djangowebring.com/static/webring.js"></script>
        </div>
      </div>
    <small class="footer_copyright">
    © {{ now.Format "2006" }} {{ .Site.Params.author.name }}.
    {{ T "footer.disclaimer" | safeHTML }}
  </small>
</footer>

{{- if .Site.Params.goToTop -}}
<a href="#" title="{{ T "footer.go_to_top" }}" id="totop">
    {{ partial "svgs/arrowUp.svg" (dict "height" 48 "width" 48) . }}
</a>
{{- end -}}

{{- $flag := resources.Get "js/codecorner.js" -}}
<script type="text/javascript" src="{{ $flag.RelPermalink }}"></script>

<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//stats.fundor333.com/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
