<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default " en " }}" class="theme-dark">
{{- partial "head.html" . -}}
{{- block "more_head" . }}{{- end }}
{{- partial "macia-indiweb/authentication.html" . -}}
{{- partial "dark-light-mode.html" . -}}

<body class="container-fluid">
  <br>
    <div class="col-lg-4 offset-lg-4 card col-10 offset-1">
      <img loading="lazy" src="{{ .Site.Params.image}}" alt="{{ .Site.Title }}" class="rounded mx-auto d-block card-img-top" >

      <div class="card-body text-center">
        <h5 class="card-title">{{.Title}}</h5>
        <p class="card-text">{{.Content}}</p>
      </div>
      <div class="d-grid gap-2 text-center">
        {{ range $.Site.Data.about }}
        <a href="{{.url}}" target="_blank" rel="me" class="card-link py-3 btn">{{ .label | safeHTML }} {{	.name }}</a>
        {{ end }}
      </ul>
    </div>
    <br>
  {{- partial "script.html" . -}}
</body>

</html>
