{{ define "main" }}

<h2 class="text-center">
  <a href="/social" class="quiet-link px-3"> <i class="fa-duotone theme-fundor333 fa-dice-d12"></i></a>
  {{ .Title}}
  <a href="/social" class="quiet-link px-3"> <i class="fa-duotone theme-fundor333 fa-dice-d12"></i></a>
</h2>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Event</th>
        <th scope="col">Tags</th>
      </tr>
    </thead>
    <tbody>

  {{ range (sort .Pages ".Params.start").Reverse }}
      <tr>
        <td class="col">  <a href="{{ .Permalink }}"><i class="fa-duotone fa-link"></i></a></td>
        <td class="col">  <a href="{{ .Permalink }}">{{ .Params.start | time.Format "2006-01-02" }}</a></td>
        <td class="col">  <a href="{{ .Permalink }}">{{.Title}}</a></td>
        <td class="col">{{ with .Params.tags }} {{ range sort . }}
            #<a class="p-category tag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ .}}</a>
            {{ end }} {{ end }}</td>
      </tr>
  {{ end }}
    </tbody>
  </table>
</div>
{{ end }}
