{{ define "main" }}
<div class="wrapper post">
    <main class="page-content" aria-label="Content">
        <article class="h-entry">
          <header class="header">
          <h1 class="header-title p-name">{{ .Title }}</h1>

          <div class="post-meta">
            <div style="display: none;" class="p-summary	">{{ .Description }}</div>
            <a class="u-url" href="{{ .Permalink }}">
            {{ $configDateFormat := .Site.Params.dateFormat | default ":date_medium" }}
            {{ with .Date }}
            {{ $ISO_time := dateFormat "2006-01-02T15:04:05-07:00" . }}
                <time datetime="{{ $ISO_time }}" class="dt-published" itemprop="datePublished"> {{ . | time.Format $configDateFormat }} </time>
            {{ end }}
            by {{ with .Site.Params.Hcard.Avatar }}<img class="u-photo" alt="" style=" display: none;" src="{{ . | absURL }}"> {{ end }}<a class="p-author h-card" rel="author" href="{{ .Site.BaseURL }}">{{ $.Site.Params.Hcard.FullName }}</a>
            </a>
          </div>
          <br>
          {{ $image := .Resources.GetMatch "{cover.webp,cover.jpg,cover.png,cover.jpeg}" }}
          {{ if  $image }}
          <div class="container-fluid  text-justify">
            {{ $image := .Resources.GetMatch "{*.webp,*.jpg,*.png,*.jpeg}" }}
            {{ $resource := imageConfig (add "/content/" $image.RelPermalink) }}

            <div class="flex flex-col items-stretch">
              <img loading="lazy" class="u-photo rounded-lg" src="{{ $image.Permalink }}"alt="Card image cap">
            {{if .Params.feature_link}}
            <a class="self-center" href="{{ .Params.feature_link}}">{{.Params.feature_text}}</a>
            {{end}}
          </div>
          {{end}}



            </header>
            {{ partial "toc.html" .}}
            <div class="page-content e-content">
                {{ .Content }}
            </div>
            {{- partial "syndication.html" . -}}
        </article>
        {{- partial "comments.html" . -}}
    </main>
</div>
{{ end }}
