{{ define "main" }}
<div class="wrapper post">
    <main class="page-content" aria-label="Content">
        <article class="h-entry">
          <header class="header">
          <h1 class="header-title p-name">{{ .Title }}</h1>
          {{ partial "micro.html" . }}

          <div>
            <a class="u-url" href="{{ .Permalink }}"><div style="display: none;" class="p-summary">{{ .Description }}</div></a>
            <a rel="author" class="p-author h-card no-underline " href="{{ .Site.BaseURL }}" style="display: none;" >{{ .Site.Params.Author.name }}</a>

            {{ if eq .Type "post" }}
            <i class="fa-regular fa-typewriter"></i> {{.Site.Params.Author.name }} |
            {{ $configDateFormat := .Site.Params.dateFormat | default ":date_medium" }}
            {{- with .Date }}
            {{ $ISO_time := dateFormat "2006-01-02T15:04:05-07:00" . }}
            <i class="fa-regular fa-calendar-range"></i>
            <time datetime="{{ $ISO_time }}" class="dt-published" itemprop="datePublished">
              {{ . | time.Format $configDateFormat }}
            </time> |
            {{ end -}}
            {{ $published := .PublishDate }}
            {{ $modified := .GitInfo.AuthorDate }}
            {{ if ge $modified $published  }}
              {{ $published := .PublishDate | time.Format ":date_medium" }}
              {{ $modified := .Lastmod | time.Format ":date_medium" }}
              {{ if ne $published $modified }}
                {{- with .Lastmod }}
                {{ $ISO_time := dateFormat "2006-01-02T15:04:05-07:00" . }}
                <i class="fa-regular fa-calendar-lines-pen"></i>
                <time datetime="{{ $ISO_time }}" class="dt-published" itemprop="lastModified">
                  {{ . | time.Format $configDateFormat }}
                </time> |
                {{ end -}}
              {{ end -}}
            {{ end -}}
            <i class="fa-regular fa-mug-tea"></i></i> Reading time {{.ReadingTime}} minutes |
            <i class="fa-regular fa-pen-nib"></i></i> Word count {{.WordCount}}
            {{ end }}

            {{- partial "tags.html" . -}}
            {{ partial "series.html" . }}


          </div>
          <br>
          {{ $image := .Resources.GetMatch "{cover.webp,cover.jpg,cover.png,cover.jpeg}" }}
          {{ if  $image }}
          <div class="container-fluid  text-justify">
            {{ $resource := imageConfig (add "/content/" $image.RelPermalink) }}

            <div class="flex flex-col items-stretch">
              <img loading="lazy" class="u-photo rounded-lg" src="{{ $image.Permalink }}"alt="Card image cap">
            {{if .Params.feature_link}}
            <a class="self-center" href="{{ .Params.feature_link}}">{{.Params.feature_text}}</a>
            {{end}}
          </div>
          {{end}}

            </header>
            {{ partial "toc.html" .}}
            <div class="page-content e-content">
              {{- partial "bridgy.html" . -}}
                {{ .Content }}
            </div>
            {{ partial "series.html" . }}
            {{ partial "share-buttons" . }}
            {{ partial "cite" . }}
            {{- partial "syndication.html" . -}}
            {{- partial "comments.html" . -}}
          </article>
    </main>
</div>
{{ end }}
