
<footer style="border-bottom: none; margin-bottom: 1em; padding-top: 3em;">
  <header style="background-color: var(--item-bg); border-bottom: none; margin: -1em; padding: 12px 24px; border-radius: 1em; margin-bottom: 1em;">
      <h2 style="margin: 0;">Mentions</h2>
      <p>Respond to this post on your own site. If you do,
      <a href="https://webmention.io/fundor333.com/webmention">send me a webmention</a> here. Find out
      more about webmentions on the <a href="https://indieweb.org/Webmention">IndieWeb</a>.</p>
  </header>


</footer>

<div id="webmentions" class="row">
    {{ $sitename := .Site.Params.HostName}}
    {{ $url := (print "https://webmention.io/api/mentions.jf2?target[]=" $sitename .RelPermalink )}}

    {{ range .Aliases }}
          {{ $url = print $url "&target[]=" $sitename . }}
    {{ end }}

    {{ $dataJ := getJSON $url }}
    <div class="container-fluid">
        {{  range $dataJ.children }}
    {{if eq (index . "wm-property") "in-reply-to"}}
    {{ partial "webmention/in-reply-to.html" . }}
  {{end}}
{{end}}
    </div>
    <div class="row p-2">
        {{  range $dataJ.children }}
  {{if eq (index . "wm-property") "like-of"}}
    {{ partial "webmention/like-of.html" . }}
  {{end}}
  {{if eq (index . "wm-property") "repost-of"}}
    {{ partial "webmention/repost-of.html" . }}
  {{end}}
  {{if eq (index . "wm-property") "bookmark-of"}}
    {{ partial "webmention/bookmark-of.html" . }}
  {{end}}
{{end}}
    </div>
    <div class="row">
        {{  range $dataJ.children }}
    {{if eq (index . "wm-property") "mention-of"}}
      {{ partial "webmention/mention-of.html" . }}
    {{end}}
  {{end}}
    </div>
    {{  range $dataJ.children }}
    <div class="row">
        <div class="col">
            <p>
                {{if eq (index . "wm-property") "rsvp"}}
      {{ partial "webmention/rsvp.html" . }}
    {{end}}
            </p>
        </div>
    </div>
    {{end}}


    <div class="row text-center" id="social-share"></div>

<hr>
