{{ define "main" }}
<div class="container py-4">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <article class="h-entry h-event">
        <header class="mb-4">
          <h1 class="p-name">{{ .Title }}</h1>
          {{ partial "micro.html" . }}
          <a class="u-url" href="{{ .Permalink }}" style="display:none"><div class="p-summary">{{ .Description }}</div></a>
          <a rel="author" class="p-author h-card" href="{{ .Site.BaseURL }}" style="display:none">{{ .Site.Params.Author.name }}</a>

          <p class="post-meta">
            {{ $configDateFormat := .Site.Params.dateFormat | default ":date_medium" }}
            {{- with .Params.start }}
            <i class="fa-regular fa-calendar-range"></i>
            <time datetime="{{ dateFormat "2006-01-02T15:04:05-07:00" . }}" class="dt-start" itemprop="datePublished">
              {{ . | time.Format $configDateFormat }}
            </time>
            {{- end }}
            {{- with .Params.end }}
            &ndash; <i class="fa-regular fa-calendar-range"></i>
            <time datetime="{{ dateFormat "2006-01-02T15:04:05-07:00" . }}" class="dt-end">
              {{ . | time.Format $configDateFormat }}
            </time>
            {{- end }}
          </p>

          {{- with .Params.location }}
          <p>
            <i class="fa-solid fa-location-dot"></i>
            <span class="p-location">{{ . }}</span>
          </p>
          {{- end }}

          {{- partial "tags.html" . -}}
        </header>

        {{ partial "toc.html" . }}
        <div class="page-content e-content mt-3">
          {{- partial "bridgy.html" . -}}
          {{ .Content }}
        </div>

        {{ partial "series.html" . }}
        {{ partial "share-buttons" . }}
        {{ partial "cite" . }}
        {{- partial "syndication.html" . -}}
        {{- partial "comments.html" . -}}
      </article>
    </div>
  </div>
</div>
{{ end }}
