{{ range .Site.Params.bridgy }}
<a href='https://brid.gy/publish/{{.}}'></a>
{{ end }}

<div style="display: none;" class="p-summary {{ range .Site.Params.bridgy }}e-bridgy-{{.}}-content {{ end }}">

  {{ if ne .Type "micro"}}
  {{ .Description }}
  {{ end }}

  {{ if eq .Type "micro"}}
  {{ .Content }}
  {{ end }}

  {{ if eq .Type "photos"}}
  {{ .Content }}
  {{ end }}
  {{ with .Resources.ByType "image" }}
  {{ range . }}
  {{ $image := . }}
  {{ if $image }}
  <img loading="lazy" class="u-photo" src="{{ $image.Permalink }}" alt="{{ $.Description }}">
  {{ end }}
  {{ end }}
  {{ end }}

  {{ range .Params.tags }}
  <div class="p-category">#{{ . }}</div>
  {{ end }}

  {{ range .Params.categories }}
  <div class="p-category">#{{ . }}</div>
  {{ end }}
</div>
