{{ range .Site.Params.bridgy }}
<a href='https://brid.gy/publish/{{.}}'></a>
{{ end }}

{{ if ne .Type "micro"}}
<div style="display: none;" class="p-summary {{ range .Site.Params.bridgy }}e-bridgy-{{.}}-content {{ end }}">
  {{ .Description }} {{ range .Params.tags }}#{{ . }} {{ end }} {{ range .Params.categories }}#{{ . }} {{ end }}
</div>
{{ end }}


{{ if .Type "micro"}}
<div style="display: none;" class="p-summary {{ range .Site.Params.bridgy }}e-bridgy-{{.}}-content {{ end }}">
  {{ .Content }} {{ range .Params.tags }}#{{ . }} {{ end }} {{ range .Params.categories }}#{{ . }} {{ end }}
</div>
<data class="p-bridgy-omit-link" value="true" />
{{ end }}
