{{- $id := string (.Get 0) -}}
{{- $url := printf "https://xkcd.com/%s/info.0.json" $id -}}
{{- with try (resources.GetRemote $url) -}}
  {{- with .Value -}}
    {{- $d := .Content | transform.Unmarshal -}}
<figure class="xkcd my-6 text-center">
  <figcaption class="font-display">xkcd #{{ $id }} — {{ $d.title }}</figcaption>
  <a href="https://xkcd.com/{{ $id }}/" target="_blank" rel="noopener">
    <img class="u-photo mx-auto" src="{{ $d.img }}" alt="{{ $d.alt }}" title="{{ $d.alt }}" loading="lazy">
  </a>
  <figcaption class="text-inactive text-sm"><em>{{ $d.alt }}</em></figcaption>
</figure>
  {{- else -}}
<p class="text-inactive">xkcd #{{ $id }} — {{ T "toot.unavailable" }}</p>
  {{- end -}}
{{- end -}}
