{{ define "main" }}
<div class="wrapper post">
    <main class="page-content" aria-label="Content">
        <article class="h-entry">
            <header class="header">
                <h1 class="header-title p-name">{{ .Title }}</h1>

                <div class="post-meta">
                  <div style="display: none;" class="p-summary	">{{ .Description }}</div>

                  <i class="fa-regular fa-typewriter"></i> {{.Site.Params.Author.name }} |
                  {{ $configDateFormat := .Site.Params.dateFormat | default ":date_medium" }}
                  {{ with .Date }}
                  {{ $ISO_time := dateFormat "2006-01-02T15:04:05-07:00" . }}
                  <i class="fa-regular fa-calendar-range"></i>
                  <time datetime="{{ $ISO_time }}" class="dt-published" itemprop="datePublished">
                    {{ . | time.Format $configDateFormat }}
                  </time>
                  {{ end }}

                </div>
            </header>
            {{ partial "toc.html" .}}
            <div class="page-content e-content">
              {{ partial "micro.html" . }}
                {{ .Content }}
            </div>
            {{- partial "syndication.html" . -}}
        </article>
        {{- partial "comments.html" . -}}
    </main>
</div>
{{ end }}
