{{ define "main" }}

<h1 class="text-center">
  <a href="/social" class="quiet-link px-3"> <i class="fa-duotone fa-dice-d12 theme-fundor333"></i></a>
  {{.Title}}
  <a href="/social" class="quiet-link px-3"> <i class="fa-duotone theme-fundor333 fa-dice-d12"></i></a>
</h1>


<div class="e-content">
  {{ .Content }}
</div>

{{ $paginator := .Paginate (where .Data.Pages "Section" .Section) }}
{{ range $paginator.Pages }}

{{ .Render "summary" }}

<br>

{{ end }}
<hr>
{{ partial "paginator.html" . }}

{{ end }}
