{{ $date := .Date.Format "2006-01-02" }}
{{ $lastmod := .Lastmod.Format "2006-01-02" }}

{{ $date_h := .Date.Format "2006-01-02 15:04:05" }}
{{ $lastmod_h := .Lastmod.Format "2006-01-02 15:04:05" }}

<div class="col-start-2 col-10 offset-1 mb-5">
  <article class="flex flex-col items-center text-center h-entry">
      <a href="{{ .Permalink }}">
        {{ $image := .Resources.GetMatch "{cover.webp,cover.jpg,cover.png,cover.jpeg}" }}
        {{if  $image }}
        {{ $resource := imageConfig (add "/content/" $image.RelPermalink) }}
        <div class="col-10 offset-1 text-center">

          {{- $banner := .Resources.GetMatch "{cover.webp,cover.jpg,cover.png,cover.jpeg}" }}
          {{ $tiny := ($banner.Fill "webp 400x300 q90") }}
          {{ $small := ($banner.Fill "webp 600x450 q90") }}
          {{ $medium := ($banner.Fill "webp 800x600 q90") }}
          {{ $large := ($banner.Fill "webp 1200x700 q90") }}

          <img
          srcset="
              {{- with $tiny.RelPermalink -}}{{.}} 480w{{- end -}}
              {{- with $small.RelPermalink -}}, {{.}} 768w{{- end -}}
              {{- with $medium.RelPermalink -}}, {{.}} 1024w{{- end -}}
              {{- with $large.RelPermalink -}}, {{.}} 1366w{{- end -}}"
          src="{{ $banner.RelPermalink }}"
          alt="banner-image" class="img-fluid lazy" loading="lazy">

        </div>
        {{ end }}
      </a>

      <a href="{{ .Permalink }}">
        <h1 class="text-center p-name">{{ .Title }}</h1>
      </a>

      <a href="{{ .Permalink }}"
      class="p-summary d-flex align-items-center justify-content-center pt-3"><p>{{ .Description }}</p></a>

      <div class="container">
        <div>
          <time class="dt-published" datetime='{{$date_h }}'></time>
          <i class="fa-duotone theme-fundor333 fa-calendar-plus"></i> {{ $date }} |
          {{if ne $lastmod $date}}

          <time class="dt-updated" datetime='{{ $lastmod_h }}'></time>
          <i class="fa-duotone theme-fundor333 fa-calendar-pen"></i> {{ $lastmod }} |
          {{ end }}
          <i class="fa-duotone theme-fundor333 fa-tags"></i>

          {{ range .Params.categories }}
          #<a class="p-category" href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ .}}</a>,
          {{ end }}
          {{ with .Params.tags }} {{ range sort . }}
          #<a class="p-category tag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ .}}</a>,
          {{ end }} {{ end }}
        </div>
      <div><i class="fa-duotone theme-fundor333 fa-mug-tea"></i>{{ if gt .ReadingTime 4 }}<i
        class="fa-duotone theme-fundor333 fa-mug-tea"></i>{{ if gt
        .ReadingTime
        7 }}<i class="fa-duotone theme-fundor333 fa-mug-tea"></i>{{ if gt .ReadingTime 10 }}<i
          class="fa-duotone theme-fundor333 fa-mug-tea"></i>{{ end }}{{ end }}{{
        end }}
        Reading time {{.ReadingTime}} minutes | <i class="fa-duotone theme-fundor333 fa-pen-nib"></i> Word count {{.WordCount}}
      </div>
  </article>
</div>
