@import "_syntax";
@import "_webmention";
@import "_fonts";


$f333_red_light: #990000;
$f333_red_dark: #ff4137;
$f333_dark: hsl(0, 0%, 12%);
$f333_light: #c2c2c2;
$f333_dark_transparent: hsla(0, 0%, 12%, 0.8);
$f333_light_transparent: hsla(0, 0%, 76%, 0.8);


.theme-light {
	--color-font: #{$f333_dark};
	--color-background: #{$f333_light};
	--color-link: #{$f333_red_light};
	--color-link-secondary: #{$f333_red_dark};
	--color-background-transparent: #{$f333_light_transparent};
	--color-border: #{$f333_dark};
}

.theme-dark {
	--color-font: #{$f333_light};
	--color-background: #{$f333_dark};
	--color-link: #{$f333_red_dark};
	--color-link-secondary: #{$f333_red_light};
	--color-background-transparent: #{$f333_dark_transparent};
	--color-border: #{$f333_light};
}

a {
	color: var(--color-font);
	text-decoration: none;

	&:hover {
		color: var(--color-link);
	}

	&.quiet-link {
		color: var(--color-font);

		&:hover {
			color: var(--color-font);
		}
	}

	&.footnote-ref {
		color: var(--color-link);

		&:hover {
			color: var(--color-text);
		}
	}
}


body {
	font-family: 'Lexend', sans-serif !important;
	background-color: var(--color-background);
	color: var(--color-font);
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern" 1;
	font-feature-settings: "lnum" 1;
	font-kerning: normal;
}

blockquote {
	font-family: 'Lexend', sans-serif !important;
	border-left: 2px solid;
	border-color: var(--color-link);
	margin: 1.5em 25px;
	padding: 1px 10px;
}


@for $i from 1 through 6 {
	h#{$i} {
		color: var(--color-link);
		font-family: "DovesType-Regular", serif !important;

		svg {
			color: var(--color-font);

		}
	}
}

hr {
	border-top: 2px solid;
	border-color: var(--color-link);
	font-size: 1rem;
	opacity: 1;
}


img {
	&.img-fluid {
		max-width: 75%;
	}
}

p {
	&:empty {
		display: none;
	}
}

table {
	color: var(--color-font) !important;
	background-color: var(--color-background) !important;
}

sub,
sup {
	position: relative;
	font-size: 1em;
}

#map {
	position: relative;
	border: 1px solid black;
	border-radius: 8px;
	height: 400px;
	/* or as desired */
	width: 100%;
	/* This means "100% of the width of its container", the .col-md-8 */
}

.a-post {
	color: var(--color-link);
	text-decoration: underline;

	&:hover {
		color: var(--color-font);
	}

}

.bg {
	background: var(--color-background-transparent);
}

.btn {
	background-color: var(--color-background);
	font-family: "DovesType-Regular", serif !important;

	color: var(--color-font);
	font-size: 1.5rem;

	&:hover {
		background-color: var(--color-font);
		color: var(--color-background);
	}

	&.active {
		background-color: var(--color-font);
		color: var(--color-background);
	}
}

.card {
	background-color: var(--color-background);
	color: var(--color-font);

	.card-link {
		background-color: var(--color-background);
		color: var(--color-font);
		border: 2px solid;
		border-color: var(--color-font);
		margin: 0;

		&:hover {
			border: 2px solid;
			border-color: var(--color-link);
			color: var(--color-link);
		}
	}
}

.centered-text-img {
	position: absolute;
	top: 150%;
	left: 25%;
	transform: translate(-150%, -25%);
}

.img-text {
	position: relative;
	text-align: center;
}

.container {
	max-width: 1024px;
}


.dark,
.light {
	background-color: var(--color-font);
	color: var(--color-background);

	&:hover {
		background-color: var(--color-background);
		color: var(--color-font);
	}
}

.text-f333 {
	color: var(--color-text);
	text-decoration: none;
}

.theme-fundor333 {
	--fa-secondary-opacity: 1.0;
	--fa-secondary-color: var(--color-link);
}

.highlight {
	border-left: 2px solid;
	border-color: var(--color-link);
	margin: 1.5em 25px;
	padding: 1px 10px;
	font-size: 1rem;
}

.img-post {
	margin-left: auto !important;
	margin-right: auto !important;
	display: block !important;
	max-width: 100%;
	height: auto;
}

.mastodon {
	text-align: center !important;
}

.nav-link {
	color: var(--color-font);
	text-decoration: none;

	&:hover {
		color: var(--color-link);
	}
}

.no-border {
	border: 0 hidden;
}

.source {
	color: var(--color-link);

	&:hover {
		color: var(--color-text);
	}
}

.sticky-top {
	margin-right: 1rem;
}

.twitter-tweet {
	margin: auto;
}

.quiet {
	color: var(--color-text);
	text-decoration: none;

	&:hover {
		color: var(--color-link);
	}
}

#logo {
	border-radius: 8px;
}

#TableOfContents {

	a {
		color: var(--color-link);

		&:hover {
			color: var(--color-text);
		}
	}

}


.e-content {
	&::first-letter {
		//font-size: 5.15em;
		//font-family: 'Black-Baron-Gothic', serif;
		//padding-right: 3px;
		//float: left;
		//color: var(--color-link);
		//text-indent: 0;
		//line-height: .8em;
	}
}
